*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Qwigley;
    src: url(./txt/Qwigley-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: normal;
    src: url(./txt/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url(./txt/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url(./txt/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url(./txt/Poppins-Bold.ttf);
}

@font-face {
    font-family: Amaranth;
    font-weight: 400; /* Regular */
    src: url(./txt/Amaranth-Regular.ttf);
}

@font-face {
    font-family: Amaranth;
    font-weight: 700; /* Bold */
    src: url(./txt/Amaranth-Bold.ttf);
}

@font-face {
    font-family: Montserrat;
    font-optical-sizing: auto;
    font-weight: 500;
    src: url(./txt/Montserrat-VariableFont_wght.ttf);
} 

body{
    color: #ededed;
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #07A856;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #12A4B7;
}

.header{
    position: relative;
    top: 0;
    left: 0;
    margin-right: 46;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a{
    display: inline-block;
    font-size: 20px;
    color: #12A4B7;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 5s ease forwards;
    font-family: 'Montserrat', sans-serif;
}

.navbar a:hover{
    color: #07A856;
}

.home {
    /* position: relative; */
    justify-content: space-between;
    background: url(home/layout1.png) no-repeat;
    background-size: cover;
    /* background-position-x: center; */
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    width: 100vw;
    height: 140vh;
    object-fit: cover;
}

.home-img img{
    max-width: 400px;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 54px;
    font-weight: 700;
    margin: -2px 0;
    font-family: 'Amaranth', sans-serif; 
}

.home-content p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    margin: 20px 15px 10px 0;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    /* border-radius: 5%; */
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background: #fff;
    color: #081b29;
    box-shadow: 0 0 20px #fff;
}

.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #fff;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover{
    box-shadow: 0 0 5px white,
    0 0 25px white, 0 0 50px white,
    0 0 100px white, 0 0 200px white

}

@keyframes slideTop {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

/* Product */

.product {
    background: url(home/layout2.png) no-repeat;
    background-size: cover;
    display: flex;
    padding: 70px 10% 0;
    width: 150vw;
    height: 290vh;
    object-fit: cover;
}

.kon1{
    text-align: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
}

.kon1 h3{
    color: #1199AE;
    font-family: 'Amaranth', sans-serif;
    font-size: 50px;
}

.kon1 p{
    width: 600px;
    color: #1199AE;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0px 0px 200px;
}

.kon2{
    text-align: left;
    align-items: end;
    justify-content: end;
    /* margin: 320px 0px 0px 450px; */
    margin-left: 50%;
    margin-top: 450px;
}

.kon2 h3{
    color: #1199AE;
    font-family: 'Amaranth', sans-serif;
    font-size: 50px;
}

.kon2 p{
    /* width: 600px; */
    /* max-width: 700px;
     */
    width: 100%;
    color: #1199AE;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0px 0px 0px;

}

.kon3{
    text-align: left;
    align-items: end;
    justify-content: end;
    margin: 300px 0px 0px 0px;
}

.kon3 h3{
    color: #1199AE;
    font-family: 'Amaranth', sans-serif;
    font-size: 50px;
}

.kon3 p{
    width: 500px;
    color: #1199AE;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0px 0px 0px;
}

/* layer */
.layerr3 {
    background: url(./home/layout3.png) no-repeat;
    background-size: cover;
    display: flex;
    padding: 20px 10% 0;
    width: 100%;
    height: 220vh;
    object-fit: cover;
    text-align: center;
    margin-top: -100px;
}

.lay1{
    position: absolute;
    text-align: center;
    align-items: center;
    margin: 200px 0px 0px 150px;
}

.lay1 h3{
    color: #ffffff;
    font-family: 'Amaranth', sans-serif;
    font-size: 50px;
}

.lay1 p{
    width: 700px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0px 0px 0px;
}

.btn{
    background-color: #fafafa00; /* Green */
    border: 1px solid #ffffff; /* Green */  
    color: white;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.container4 {
    position: relative;
    width: 100%;
    margin-top:-20%;
  }

  .img4 {
    display: block;
    width: 75%;
    height: auto;
    position: absolute;
    /* left: 25%; */
  }
  
  .komposisi {
    display: block;
    position: absolute;
    margin-top: 40%;
    margin-left: 70%;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .titletxt{
    color: #12A4B7;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Amaranth', sans-serif;
    font-size: 3rem;
  }
  .partxt{
    color: #12A4B7;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
  }

  .komposisi2 {
    display: block;
    position: absolute;
    margin-top: 78%;
    margin-left: 65%;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: left;
  }

.Copyright{
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #1195A9;
    /* background: #1195A9; */
    font-weight: 300;
    margin-top: 100%;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.kon1 .item{
    width: 50%;
    margin: 0;
    margin-left: 0;
    text-align: left;
    align-items: center;
}

@media only screen and (max-width: 450px){
    .kon1 h3{
        color: #1199AE;
        font-family: 'Amaranth', sans-serif;
        font-size: 40px;
    }
    .kon1 .item{
        width: 100%;
    }
    .kon1 .item p{
        width: 100%;
        margin: 0;
        margin-top: 5vh;
    }
    
    .kon2{
        text-align: center;
        align-items: left;
        justify-content: left;
        margin: auto;
        margin-top: 10vh;
    }
    
    .kon2 h3{
        color: #1199AE;
        font-family: 'Amaranth', sans-serif;
        font-size: 40px;
    }
    
    .kon2 p{
        width: 100%;
        max-width: 700px;
        color: #1199AE;
        font-family: 'Montserrat', sans-serif;
        margin: 20px 0px 0px 0px;
    
    }

    .kon3 h3{
        color: #1199AE;
        font-family: 'Amaranth', sans-serif;
        font-size: 40px;
    }

    .kon3 .item{
        width: 100%;
    }
    .kon3 .item p{
        width: 100%;
        margin: 0;
        margin-top: 5vh;
    }
    
    .lay1{
        text-align: center;
        align-items: center;
        margin: auto;
        margin-left: -10;
        width: 85%;
        margin-top: 50vh;
    }
    
    .lay1 h3{
        color: #ffffff;
        font-family: 'Amaranth', sans-serif;
        font-size: 40px;
        width: 100%;
    }
    
    .lay1 p{
        width: 100%;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        margin: 20px 0px 0px 0px;
    }

    .layerr3 {
        background: url(./home/layout3.png) no-repeat;
        background-size: cover;
        display: flex;
        padding: 10px 10% 0;
        width: 100%;
        object-fit: cover;
    }

    .komposisi {
        color: white;
        margin-left: 50%;
        margin-top: -70vh;
        transform: translate(-50%, -50%);
      }
    
      .titletxt{
        color: white;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Amaranth', sans-serif;
        font-size: 3rem;
        margin: auto;
        width: 100%;
        text-align: center;
      }
      .partxt{
        color: white;
        font-size: 14px;
        font-weight: normal;
        margin-top: 10px;
      }

      .komposisi2 {
        margin-top: 25vh;
      }
      .komposisi2 .titletxt{
        color: #12A4B7;
        font-weight: bold;
        font-family: 'Amaranth', sans-serif;
        font-size: 2rem;
      }
      .komposisi2 .partxt{
        color: #12A4B7;
        font-size: 14px;
        font-weight: normal;
        margin-top: 10px;
        width: 20vh;
      }
      
}

/* for desktop mobile */

@media only screen and (min-width: 500px) {
    .lay1{
        text-align: center;
        align-items: center;
        margin: auto;
        width: 80%;
        margin-top: 60vh;
    }
    .home {
        /* position: relative; */
        justify-content: space-between;
        background: url(home/layout1.png) no-repeat;
        background-size: cover;
        /* background-position-x: center; */
        display: flex;
        align-items: center;
        padding: 70px 10% 0;
        width: 120vh;
        height: 30vh;
        object-fit: cover;

        background-repeat: no-repeat;
        /* background-size: contain; */
    }

    .home-img img{
        max-width: 400px;
    }
    
    .home-content {
        max-width: 600px;
    }
    
    .home-content h1 {
        font-size: 54px;
        font-weight: 700;
        margin-top: 20px;
        margin: auto;
        font-family: 'Amaranth', sans-serif; 
    }
    
    .home-content p {
        font-size: 16px;
        font-family: "Montserrat", sans-serif;
        margin: 20px 15px 10px 0;
    }
    
    .home-sci a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #fff;
        /* border-radius: 5%; */
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        margin: 30px 15px 30px 0;
    }
    
    .home-sci a:hover{
        background: #fff;
        color: #081b29;
        box-shadow: 0 0 20px #fff;
    }

    
    .product {
        background: url(home/layout2.png) no-repeat;
        display: flex;
        padding: 70px 10% 0;
        width: 70vw;
        height: 290vh;
        object-fit: cover;

        background-repeat: no-repeat;
        background-size: contain;
    }

    /* layer */
    .layerr3 {
        background: url(./home/layout3.png) no-repeat;
        background-size: contain;
        
        background-repeat: no-repeat;
        display: flex;
        padding: 20px 10% 0;
        width: 100%;
        height: 220vh;
        object-fit: cover;
        text-align: center;
        margin-top: -100px;
    }

}

/* for desktop laptop */
@media only screen and (min-width: 992px) {
    .lay1{
        text-align: center;
        align-items: center;
        margin: auto;
        margin-left: -10;
        width: 85%;
        margin-top: 50vh;
    }

}